- if @result
  :plain
    var elm = $("div#create_error");
    elm.before("#{escape_javascript( render partial: 'nodes/node_element', locals: {:node => @node} )}");
- else
  :plain
    var elm = $("div#create_error");
    elm.empty();
    elm.append("#{escape_javascript( render partial: 'nodes/error', locals: {:node => @node} )}");
