%div.panel.panel-default
  %div.panel-heading
    %h3.panel-title 新しいフローチャート
  %div.panel-body
    %table.table.table-striped
      %tbody
        - @diagrams.each do |diagram|
          %tr
            %td= link_to diagram.title, "/diagnose/#{diagram.id}"
            %td= "(#{diagram.updated_at})"

